html {
  height: 100%;
}
body {
  height: 100%;
  overflow-x: hidden;
}
.container {
  padding: 50px 0px;
  height: 100%;
  width: 100%;
  font-size: 1rem;
  background-color: tan;
}
.previewer {
  margin: 100px;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: repeat(2, 50%);
  grid-gap: 20px;
  overflow: auto;
  border: solid black 2px;
}
.markdown {
  display: block;
  height: 200px;
  width: 100%;
  margin-left: auto;
  margin-right: 5%;
  background-color: #d0f0ff;
}
.result {
  display: block;
  height: 200px;
  width: 100%;
  margin-left: 5%;
  margin-right: auto;
  background-color: #ddffe0;
}
