html {
    height: 100%;
}
body {
    height: 100%;
}
.container {
    padding: 10px;
    height: 100%;
    width: 100%;
    font-size: 1rem;
    background-color: #ff9944;
}
.previewer {
    height: 85%;
    margin: 5%;
    display: grid;
    grid-template-rows: 0% 100%;
    grid-template-columns: repeat(2, 45%);
    grid-gap: 8%;
    overflow: hidden;
}
.title-markdown {
    margin: auto;
    width: 98%;
    padding: 10px;
    text-align: center;
    background-color: #d0f0ff;
    border: solid black 2px;
    box-shadow: rgba(0,0,0,0.3) 10px 20px 30px;
}
.title-result {
    margin: auto;
    width: 98%;
    padding: 10px;
    text-align: center;
    background-color: #ddffe0;
    border: solid black 2px;
    box-shadow: rgba(0,0,0,0.3) -10px 20px 30px;
}
.markdown {
    display: block;
    padding: 50px;
    height: 85%;
    width: 98%;
    padding: 10px;
    background-color: #d0f0ff;
    border: solid black 2px;
    box-shadow: rgba(0,0,0,0.3) 10px 20px 30px;
}
.result {
    display: block;
    height: 85%;
    width: 98%;
    padding: 10px;
    background-color: #ddffe0;
    border: solid black 2px;
    box-shadow: rgba(0,0,0,0.3) -10px 20px 30px;
}
